[package]
name = "lapce-core"
version = "0.2.5"
authors = ["Dongdong Zhou <dzhou121@gmail.com>"]
edition = "2021"

[dependencies]
directories = "4.0.1"
thiserror = "1.0"
itertools = "0.10.3"
log = "0.4.14"
bitflags = "1.3.2"
once_cell = "1.15"
slotmap = "1.0"
arc-swap = "1.5.1"
strum = "0.24.0"
strum_macros = "0.24"
serde = "1.0"
lsp-types = { version = "0.93", features = ["proposed"] }
lapce-xi-rope = { version = "0.3.1", features = ["serde"] }
lapce-rpc = { path = "../lapce-rpc" }

tree-sitter = "0.20.7"

# please keep below dependencies and features sorted just like LANGUAGES in language.rs

tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash", branch = "master", optional = true }
tree-sitter-c = { version = "0.20.2", optional = true }
tree-sitter-c-sharp = { git = "https://github.com/tree-sitter/tree-sitter-c-sharp", branch = "master", optional = true }
tree-sitter-cpp = { version = "0.20.0", optional = true }
tree-sitter-cmake = { version = "0.1.0", optional = true }
# switch to upstream version after this is merged https://github.com/tree-sitter/tree-sitter-css/pull/22
tree-sitter-css = { git = "https://github.com/syntacti/tree-sitter-css", branch = "master", optional = true }
tree-sitter-d = {  git = "https://github.com/ghishadow/tree-sitter-d", branch = "main", optional = true }
tree-sitter-dart = { git = "https://github.com/syntacti/tree-sitter-dart", branch = "master", optional = true }
tree-sitter-dockerfile = { git = "https://github.com/panekj/tree-sitter-dockerfile", branch = "queries", optional = true }
tree-sitter-elixir = { git = "https://github.com/elixir-lang/tree-sitter-elixir.git", version = "0.19.0", optional = true }
tree-sitter-elm = { version = "5.6.0", optional = true }
tree-sitter-erlang = { git = "https://github.com/WhatsApp/tree-sitter-erlang", branch = "main", optional = true }
tree-sitter-glimmer = { git = "https://github.com/VixieTSQ/tree-sitter-glimmer", version = "0.0.1", optional = true }
tree-sitter-glsl = { git = "https://github.com/theHamsta/tree-sitter-glsl", branch = "add-highlights.scm", optional = true }
tree-sitter-go = { version = "0.19.1", optional = true }
tree-sitter-hare = { version = "0.20.7", optional = true }
tree-sitter-haskell = { git = "https://github.com/tree-sitter/tree-sitter-haskell", version = "0.14.0", optional = true }
tree-sitter-haxe = { git = "https://github.com/vantreeseba/tree-sitter-haxe", version = "0.2.2", optional = true }
tree-sitter-hcl = { git = "https://github.com/VixieTSQ/tree-sitter-hcl", version = "0.0.1", optional = true }
tree-sitter-html = { version = "0.19.0", optional = true }
tree-sitter-java = { git = "https://github.com/tree-sitter/tree-sitter-java.git", version = "0.20.0", optional = true }
tree-sitter-javascript = { version = "0.20.0", optional = true }
# new version cannot be published on crates.io - https://github.com/tree-sitter/tree-sitter-json/issues/21
# tree-sitter-json = { version = "0.19.0", optional = true }
tree-sitter-json = { git = "https://github.com/tree-sitter/tree-sitter-json.git", rev = "11e2cc12d9b267766fb11a06e52952792fd8e3f0", optional = true }
tree-sitter-julia = { git = "https://github.com/varlad/tree-sitter-julia", branch = "master", optional = true }
tree-sitter-kotlin = { git = "https://github.com/fwcd/tree-sitter-kotlin", branch = "main", optional = true }
tree-sitter-latex = { git = "https://github.com/latex-lsp/tree-sitter-latex", branch = "master", optional = true }
tree-sitter-lua = { git = "https://github.com/syntacti/tree-sitter-lua", branch = "main", optional = true }
tree-sitter-md = { git = "https://github.com/MDeiml/tree-sitter-markdown.git", branch = "split_parser", optional = true }
tree-sitter-nix = { git = "https://github.com/panekj/tree-sitter-nix", branch = "master", optional = true }
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml", version = "0.20.0", optional = true }
tree-sitter-php = { git = "https://github.com/tree-sitter/tree-sitter-php.git", version = "0.19.1", optional = true }
tree-sitter-prisma-io = { version = "1.3.0", optional = true }
tree-sitter-protobuf = { git = "https://github.com/yusdacra/tree-sitter-protobuf", branch = "main", optional = true }
tree-sitter-python = { version = "0.20.1", optional = true }
tree-sitter-ql = { git = "https://github.com/tree-sitter/tree-sitter-ql", version = "0.19.0", optional = true }
tree-sitter-r = { version = "0.19.5", optional = true }
tree-sitter-ruby = { git = "https://github.com/tree-sitter/tree-sitter-ruby.git", rev = "656abef", optional = true }
tree-sitter-rust = { version = "0.20.0", optional = true }
tree-sitter-scheme = { git = "https://github.com/6cdh/tree-sitter-scheme.git", branch = "main", optional = true }
tree-sitter-scss = { git = "https://github.com/VixieTSQ/tree-sitter-scss", version = "0.0.1", branch = "patch-1", optional = true }
# switch to upstream version after this is merged  https://github.com/m-novikov/tree-sitter-sql/pull/68
tree-sitter-sql = { git = "https://github.com/oknozor/tree-sitter-sql", branch = "main", optional = true }
tree-sitter-svelte = { git = "https://github.com/Himujjal/tree-sitter-svelte", branch = "master", optional = true }
tree-sitter-swift = { version = "0.3.4", optional = true }
tree-sitter-toml = { version = "0.20.0", optional = true }
tree-sitter-typescript = { version = "0.20.0", optional = true }
tree-sitter-vue = { version = "0.0.3", optional = true }
tree-sitter-wgsl = { git = "https://github.com/szebniok/tree-sitter-wgsl", branch = "master", optional = true }
tree-sitter-xml = { git = "https://github.com/RenjiSann/tree-sitter-xml", branch = "main", optional = true }
tree-sitter-yaml = { git = "https://github.com/panekj/tree-sitter-yaml", branch = "master", optional = true }
tree-sitter-zig = { git = "https://github.com/maxxnino/tree-sitter-zig", branch = "main", optional = true }

[features]
default = []
# See lapce-ui/Cargo.toml for how to choose the languages.  See also
# src/language.rs for how to add new languages.  The feature names should follow
# the tree-sitter crate names.
lang-bash = ["dep:tree-sitter-bash"]
lang-c = ["dep:tree-sitter-c"]
lang-cmake = ["dep:tree-sitter-cmake"]
lang-cpp = ["dep:tree-sitter-cpp"]
lang-csharp = ["dep:tree-sitter-c-sharp"]
lang-css = ["dep:tree-sitter-css"]
lang-d = ["dep:tree-sitter-d"]
lang-dart = ["dep:tree-sitter-dart"]
lang-dockerfile = ["dep:tree-sitter-dockerfile"]
lang-elixir = ["dep:tree-sitter-elixir"]
lang-elm = ["dep:tree-sitter-elm"]
lang-erlang = ["dep:tree-sitter-erlang"]
lang-glimmer = ["dep:tree-sitter-glimmer"]
lang-glsl = ["dep:tree-sitter-glsl"]
lang-go = ["dep:tree-sitter-go"]
lang-hare = ["dep:tree-sitter-hare"]
lang-haskell = ["dep:tree-sitter-haskell"]
lang-haxe = ["dep:tree-sitter-haxe"]
lang-hcl = ["dep:tree-sitter-hcl"]
lang-html = ["dep:tree-sitter-html"]
lang-java = ["dep:tree-sitter-java"]
lang-javascript = ["dep:tree-sitter-javascript"]
lang-json = ["dep:tree-sitter-json"]
lang-julia = ["dep:tree-sitter-julia"]
lang-kotlin = ["dep:tree-sitter-kotlin"]
lang-latex = ["dep:tree-sitter-latex"]
lang-lua = ["dep:tree-sitter-lua"]
lang-markdown = ["dep:tree-sitter-md"]
lang-nix = ["dep:tree-sitter-nix"]
lang-ocaml = ["dep:tree-sitter-ocaml"]
lang-php = ["dep:tree-sitter-php"]
lang-prisma = ["dep:tree-sitter-prisma-io"]
lang-protobuf = ["dep:tree-sitter-protobuf"]
lang-python = ["dep:tree-sitter-python"]
lang-ql = ["dep:tree-sitter-ql"]
lang-r = ["dep:tree-sitter-r"]
lang-ruby = ["dep:tree-sitter-ruby"]
lang-rust = ["dep:tree-sitter-rust"]
lang-scheme = ["dep:tree-sitter-scheme"]
lang-scss = ["dep:tree-sitter-scss"]
lang-sql = ["dep:tree-sitter-sql"]
lang-svelte = ["dep:tree-sitter-svelte"]
lang-swift = ["dep:tree-sitter-swift"]
lang-toml = ["dep:tree-sitter-toml"]
lang-typescript = ["dep:tree-sitter-typescript"]
lang-vue = ["dep:tree-sitter-vue"]
lang-wgsl = ["dep:tree-sitter-wgsl"]
lang-yaml = ["dep:tree-sitter-yaml"]
lang-xml = ["dep:tree-sitter-xml"]
lang-zig = ["dep:tree-sitter-zig"]
