[package]
name = "lapce-core"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
directories.workspace = true
itertools.workspace = true
log.workspace = true
once_cell.workspace = true
serde.workspace = true
strum.workspace = true
strum_macros.workspace = true
thiserror.workspace = true

lsp-types.workspace = true

lapce-xi-rope.workspace = true

lapce-rpc.workspace = true

bitflags = "1.3.2"
slotmap = "1.0"
arc-swap = "1.5.1"
tree-sitter = "0.20.7"

# please keep below dependencies and features sorted just like LANGUAGES in language.rs

tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash", rev = "4488aa41406547e478636a4fcfd24f5bbc3f2f74", optional = true }
tree-sitter-c = { version = "0.20.2", optional = true }
tree-sitter-c-sharp = { git = "https://github.com/tree-sitter/tree-sitter-c-sharp", rev = "5b60f99545fea00a33bbfae5be956f684c4c69e2", optional = true }
tree-sitter-cpp = { version = "0.20.0", optional = true }
tree-sitter-clojure = { git = "https://github.com/abreumatheus/tree-sitter-clojure", rev = "fdc969eb04fc711e38ad74afe441d74b3b5d3091", optional = true }
tree-sitter-cmake = { version = "0.1.0", optional = true }
# switch to upstream version after this is merged https://github.com/tree-sitter/tree-sitter-css/pull/22
tree-sitter-css = { git = "https://github.com/syntacti/tree-sitter-css", rev = "397aa132b9982fcdd2d473ed69343762a557f10a", optional = true }
tree-sitter-d = {  git = "https://github.com/ghishadow/tree-sitter-d", rev = "36603135ecb37ac6494c520efff91b875815d6f7", optional = true }
tree-sitter-dart = { git = "https://github.com/syntacti/tree-sitter-dart", rev = "78cad4503571d72666f78d5ba8ed6c1417653063", optional = true }
tree-sitter-dockerfile = { git = "https://github.com/panekj/tree-sitter-dockerfile", rev = "c49d819e07685c90456270f1cc654d9cba640f53", optional = true }
tree-sitter-elixir = { git = "https://github.com/elixir-lang/tree-sitter-elixir.git", rev = "05e3631c6a0701c1fa518b0fee7be95a2ceef5e2", optional = true }
tree-sitter-elm = { version = "5.6.0", optional = true }
tree-sitter-erlang = { git = "https://github.com/WhatsApp/tree-sitter-erlang", rev = "a8b8b0e16c4f5552f5e85af3dec976a5d16af8b9", optional = true }
tree-sitter-glimmer = { git = "https://github.com/VixieTSQ/tree-sitter-glimmer", rev = "7281caca2ba114e1960c5d944a37860ef0841426", optional = true }
tree-sitter-glsl = { git = "https://github.com/theHamsta/tree-sitter-glsl", rev = "74329feb2605deccd32b1c644af507daa6fb82f1", optional = true }
tree-sitter-go = { version = "0.19.1", optional = true }
tree-sitter-hare = { version = "0.20.7", optional = true }
tree-sitter-haskell = { git = "https://github.com/tree-sitter/tree-sitter-haskell", rev = "e30bdfd53eb28c73f26a68b77d436fd2140af167", optional = true }
tree-sitter-haxe = { git = "https://github.com/vantreeseba/tree-sitter-haxe", rev = "52e3d2b9c3955aca886bccc38b496ef99b603a09", optional = true }
tree-sitter-hcl = { git = "https://github.com/VixieTSQ/tree-sitter-hcl", rev = "f4aa4553344e03e149ec459549a7f686d6846626", optional = true }
tree-sitter-html = { version = "0.19.0", optional = true }
tree-sitter-java = { git = "https://github.com/tree-sitter/tree-sitter-java.git", rev = "09d650def6cdf7f479f4b78f595e9ef5b58ce31e", optional = true }
tree-sitter-javascript = { version = "0.20.0", optional = true }
# new version cannot be published on crates.io - https://github.com/tree-sitter/tree-sitter-json/issues/21
# tree-sitter-json = { version = "0.19.0", optional = true }
tree-sitter-json = { git = "https://github.com/tree-sitter/tree-sitter-json.git", rev = "11e2cc12d9b267766fb11a06e52952792fd8e3f0", optional = true }
tree-sitter-julia = { git = "https://github.com/varlad/tree-sitter-julia.git", rev = "2ad4c9b79e0f213b61dbb3820754bfc6306e595a", optional = true }
tree-sitter-kotlin = { git = "https://github.com/fwcd/tree-sitter-kotlin", rev = "a4f71eb9b8c9b19ded3e0e9470be4b1b77c2b569", optional = true }
tree-sitter-latex = { git = "https://github.com/latex-lsp/tree-sitter-latex", rev = "b3b2cf27f33e71438ebe46934900b1153901c6f2", optional = true }
tree-sitter-lua = { git = "https://github.com/syntacti/tree-sitter-lua", rev = "a29f646c14ed800aaeef1ca58a9bacc6d92922e8", optional = true }
tree-sitter-md = { git = "https://github.com/MDeiml/tree-sitter-markdown.git", rev = "272e080bca0efd19a06a7f4252d746417224959e", optional = true }
tree-sitter-nix = { git = "https://github.com/panekj/tree-sitter-nix", rev = "59fc47150ab437e8bb356c7ab21e9531e87f7cc8", optional = true }
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml", rev = "cc26b1ef111100f26a137bcbcd39fd4e35be9a59", optional = true }
tree-sitter-php = { git = "https://github.com/tree-sitter/tree-sitter-php.git", rev = "ab2e72179ceb8bb0b249c8ac9162a148e911b3dc", optional = true }
tree-sitter-prisma-io = { version = "1.3.0", optional = true }
tree-sitter-protobuf = { git = "https://github.com/yusdacra/tree-sitter-protobuf", rev = "5aef38d655f76a6b0d172340eed3766c93b3124c", optional = true }
tree-sitter-python = { version = "0.20.1", optional = true }
tree-sitter-ql = { git = "https://github.com/tree-sitter/tree-sitter-ql", rev = "bd087020f0d8c183080ca615d38de0ec827aeeaf", optional = true }
tree-sitter-r = { version = "0.19.5", optional = true }
tree-sitter-ruby = { git = "https://github.com/tree-sitter/tree-sitter-ruby.git", rev = "656abef0645caea793e33c1c773570722463e1d8", optional = true }
tree-sitter-rust = { version = "0.20.0", optional = true }
tree-sitter-scheme = { git = "https://github.com/6cdh/tree-sitter-scheme.git", rev = "af0fd1fa452cb2562dc7b5c8a8c55551c39273b9", optional = true }
tree-sitter-scss = { git = "https://github.com/VixieTSQ/tree-sitter-scss", rev = "3aac3391ede5098edbf4cc8a9f6d0cfdfe28e5dc", optional = true }
# switch to upstream version after this is merged  https://github.com/m-novikov/tree-sitter-sql/pull/68
tree-sitter-sql = { git = "https://github.com/oknozor/tree-sitter-sql", rev = "15dad0f3cae8a094a7dac17d712ea8fb25228011", optional = true }
tree-sitter-svelte = { git = "https://github.com/Himujjal/tree-sitter-svelte", rev = "52e122ae68b316d3aa960a0a422d3645ba717f42", optional = true }
tree-sitter-swift = { version = "0.3.4", optional = true }
tree-sitter-toml = { version = "0.20.0", optional = true }
tree-sitter-typescript = { version = "0.20.0", optional = true }
tree-sitter-vue = { version = "0.0.3", optional = true }
tree-sitter-wgsl = { git = "https://github.com/szebniok/tree-sitter-wgsl", rev = "272e89ef2aeac74178edb9db4a83c1ffef80a463", optional = true }
tree-sitter-xml = { git = "https://github.com/RenjiSann/tree-sitter-xml", rev = "422528a43630db6dcc1e222d1c5ee3babd559473", optional = true }
tree-sitter-yaml = { git = "https://github.com/panekj/tree-sitter-yaml", rev = "80c8d76847f03e772c5c524cf29bafb56858a8d1", optional = true }
tree-sitter-zig = { git = "https://github.com/maxxnino/tree-sitter-zig", rev = "8d3224c3bd0890fe08358886ebf54fca2ed448a6", optional = true }

[features]
default = []
# See lapce-ui/Cargo.toml for how to choose the languages.  See also
# src/language.rs for how to add new languages.  The feature names should follow
# the tree-sitter crate names.
lang-bash = ["dep:tree-sitter-bash"]
lang-c = ["dep:tree-sitter-c"]
lang-clojure = ["dep:tree-sitter-clojure"]
lang-cmake = ["dep:tree-sitter-cmake"]
lang-cpp = ["dep:tree-sitter-cpp"]
lang-csharp = ["dep:tree-sitter-c-sharp"]
lang-css = ["dep:tree-sitter-css"]
lang-d = ["dep:tree-sitter-d"]
lang-dart = ["dep:tree-sitter-dart"]
lang-dockerfile = ["dep:tree-sitter-dockerfile"]
lang-elixir = ["dep:tree-sitter-elixir"]
lang-elm = ["dep:tree-sitter-elm"]
lang-erlang = ["dep:tree-sitter-erlang"]
lang-glimmer = ["dep:tree-sitter-glimmer"]
lang-glsl = ["dep:tree-sitter-glsl"]
lang-go = ["dep:tree-sitter-go"]
lang-hare = ["dep:tree-sitter-hare"]
lang-haskell = ["dep:tree-sitter-haskell"]
lang-haxe = ["dep:tree-sitter-haxe"]
lang-hcl = ["dep:tree-sitter-hcl"]
lang-html = ["dep:tree-sitter-html"]
lang-java = ["dep:tree-sitter-java"]
lang-javascript = ["dep:tree-sitter-javascript"]
lang-json = ["dep:tree-sitter-json"]
lang-julia = ["dep:tree-sitter-julia"]
lang-kotlin = ["dep:tree-sitter-kotlin"]
lang-latex = ["dep:tree-sitter-latex"]
lang-lua = ["dep:tree-sitter-lua"]
lang-markdown = ["dep:tree-sitter-md"]
lang-nix = ["dep:tree-sitter-nix"]
lang-ocaml = ["dep:tree-sitter-ocaml"]
lang-php = ["dep:tree-sitter-php"]
lang-prisma = ["dep:tree-sitter-prisma-io"]
lang-protobuf = ["dep:tree-sitter-protobuf"]
lang-python = ["dep:tree-sitter-python"]
lang-ql = ["dep:tree-sitter-ql"]
lang-r = ["dep:tree-sitter-r"]
lang-ruby = ["dep:tree-sitter-ruby"]
lang-rust = ["dep:tree-sitter-rust"]
lang-scheme = ["dep:tree-sitter-scheme"]
lang-scss = ["dep:tree-sitter-scss"]
lang-sql = ["dep:tree-sitter-sql"]
lang-svelte = ["dep:tree-sitter-svelte"]
lang-swift = ["dep:tree-sitter-swift"]
lang-toml = ["dep:tree-sitter-toml"]
lang-typescript = ["dep:tree-sitter-typescript"]
lang-vue = ["dep:tree-sitter-vue"]
lang-wgsl = ["dep:tree-sitter-wgsl"]
lang-yaml = ["dep:tree-sitter-yaml"]
lang-xml = ["dep:tree-sitter-xml"]
lang-zig = ["dep:tree-sitter-zig"]
